/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* BODY */
body {
    background: #0b0e11;
    color: #eaecef;
}

/* NAVBAR */
.navbar {
    height: 60px;
    background: #0b0e11;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    border-bottom: 1px solid #1e2329;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    color: #fcd535;
    font-weight: bold;
}

.logo span {
    color: #fff;
}

.user-id {
    color: #b7bdc6;
    display: flex;
    align-items: center;
    gap: 6px;
}

/* SIDEBAR */
.sidebar {
    position: fixed;
    width: 230px;
    height: 100%;
    background: #0b0e11;
    border-right: 1px solid #1e2329;
    padding-top: 60px;
    transition: 0.3s;
    z-index: 1200;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 5px;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 14px 20px;
    color: #b7bdc6;
    text-decoration: none;
    transition: 0.2s;
    font-size: 15px;
}

.sidebar ul li a i {
    font-size: 16px;
}

/* HOVER */
.sidebar ul li a:hover {
    background: #1e2329;
    color: #fcd535;
}

/* ACTIVO (opcional si luego quieres) */
.sidebar ul li a.active {
    background: #1e2329;
    color: #fcd535;
    border-left: 3px solid #fcd535;
}

/* CONTENIDO */
.main-content {
    margin-left: 230px;
    margin-top: 60px;
    padding: 25px;
    min-height: 100vh;
}

/* ALERTAS */
.alert {
    background: #1e2329;
    padding: 12px;
    margin-bottom: 15px;
    border-left: 4px solid #fcd535;
    border-radius: 4px;
}

/* OVERLAY */
.overlay {
    display: none;
}

.overlay.show {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    z-index: 1100;
}

/* BOTÓN */
.menu-toggle {
    display: none;
    font-size: 22px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {

    .sidebar {
        left: -230px;
    }

    .sidebar.open {
        left: 0;
    }

    .menu-toggle {
        display: block;
    }

    .main-content {
        margin-left: 0;
    }
}