body {
    background: #0b0e11;
    color: white;
    font-family: Arial, sans-serif;
}
/* IMAGEN DEL PRODUCTO */
.product-img {
    width: 100%;
    height: 120px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

/* HERO */
.hero-pro {
    background: linear-gradient(135deg, #1e2329, #0b0e11);
    padding: 40px;
    border-radius: 12px;
    margin-bottom: 20px;
  
}

.btn-main {
    background: #fcd535;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    margin-top: 30px;
    font-weight: bold;
    cursor: pointer;
}

/* CARDS */
.stats-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 15px;
    margin-bottom: 10px;
}

.card {
    background: #1e2329;
    padding: 20px;
    border-radius: 10px;
}

.card span {
    color: #848e9c;
}

.green { color: #0ecb81; }
.red { color: #f6465d; }

/* MARKET */
.market-box {
    background: #1e2329;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.market-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #2b3139;
}

.header {
    color: #848e9c;
}

/* =========================
   PRODUCTOS PRO
========================= */

.products-pro {
    background: #0b0e11;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #1e2329;
}

.products-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.badge-live {
    background: #0ecb81;
    color: black;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
}

/* GRID */
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    gap: 15px;
}

/* CARD */
.product-card {
    background: #1e2329;
    padding: 18px;
    border-radius: 12px;
    text-align: center;
    position: relative;
    transition: 0.2s;
}

.product-card:hover {
    transform: translateY(-5px);
}

/* TOP PLAN */
.product-card.pro {
    border: 1px solid #fcd535;
}

/* TAG */
.tag {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #fcd535;
    color: black;
    padding: 3px 8px;
    font-size: 12px;
    border-radius: 5px;
}

/* TEXTO */
.product-card h4 {
    margin-bottom: 10px;
}

.hash {
    color: #fcd535;
}

.profit {
    color: #0ecb81;
    font-weight: bold;
    margin: 10px 0;
}

/* BOTON */
.btn-mine {
    width: 100%;
    background: #fcd535;
    padding: 10px;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
    cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .hero-pro {
        text-align: center;
    }
}