{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Inverso Web{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'inverso_sa/css/dashboard.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'inverso_sa/img/logo.jpeg' %}">
    {% block extra_css %}{% endblock %}
</head>

<body>

    <!-- NAVBAR -->
    <nav class="navbar">
        <button class="menu-toggle" onclick="toggleMenu()">☰</button>
        <div class="logo">INVERSO</div>
    </nav>

    <!-- SIDEBAR -->
    <div class="sidebar" id="mobileMenu">

        <div class="sidebar-header">
            <span>MENÚ</span>
            <button onclick="toggleMenu()">✖</button>
        </div>

        <ul>
            <li><a href="{% url 'inicio' %}">🏠 Inicio</a></li>
            <li><a href="{% url 'ingreso' %}">💰 Ingreso</a></li>
            <li><a href="{% url 'equipo' %}">👥 Equipo</a></li>
            <li><a href="{% url 'juegos' %}">🎰 Juegos</a></li>
            <li><a href="{% url 'mio' %}">👤 Mío</a></li>

            {% if request.user.is_staff %}
            <li>
                <a href="{% url 'panel_usuarios' %}">⚙ Administración</a>
            </li>
            {% endif %}
        </ul>
    </div>

    <!-- OVERLAY -->
    <div class="overlay" id="overlay" onclick="toggleMenu()"></div>

    <!-- CONTENIDO -->
    <div class="main-content">

        {% if messages %}
        {% for message in messages %}
        <div class="alert {{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        {% block contenido %}{% endblock %}

        <!-- FOOTER -->
        <footer class="main-footer">
            <p class="footer-legal">
                🎮 INVERSO ofrece experiencias de entretenimiento digital.<br>
                Las funciones están diseñadas para la diversión de los usuarios.<br>
                Los resultados pueden diferir en cada participación.

            </p>
            <p class="footer-copy">
                © 2026 INVERSO
            </p>
        </footer>

    </div>

    <!-- JS -->
    <script>
        function toggleMenu() {
            document.getElementById("mobileMenu").classList.toggle("open");
            document.getElementById("overlay").classList.toggle("show");
        }
    </script>

</body>

</html>