{% extends "inverso_sa/dashboard.html" %}
{% load static %}


{% block title %}Juegos{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'inverso_sa/css/juegos.css' %}">
{% endblock %}


{% block contenido %}


<h2 class="titulo">🎮 Zona de Juegos</h2>


<div class="juegos-grid">


{% for juego in juegos %}
<div class="juego-card">
<div class="icono">{{ juego.icono }}</div>
<h3>{{ juego.nombre }}</h3>
<span class="estado">{{ juego.estado }}</span>
</div>
{% endfor %}


</div>


{% endblock %}