{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Binance Min</title>

    <link rel="stylesheet" href="{% static 'inverso_sa/css/login.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap" rel="stylesheet">
</head>

<body>

<!-- FONDO -->
<div class="bg-overlay"></div>

<main class="page-container">

    <section class="login-card">

        <!-- LOGO -->
        <div class="brand-header">
            <img src="{% static 'inverso_sa/img/logo.png' %}" class="logo-img">
            <h1>MINERIA <span>BINANCE</span></h1>
        </div>

        {% if error %}
            <p class="error-msg">{{ error }}</p>
        {% endif %}

        <form method="POST" id="login-form">
            {% csrf_token %}

            <div class="input-group">
                <input type="text" name="username" required>
                <label>Usuario o Teléfono</label>
            </div>

            <div class="input-group">
                <input type="password" name="password" required>
                <label>Contraseña</label>
            </div>

            <button type="submit" id="submit-btn">
                Iniciar Sesión
            </button>

            <p id="wait-msg">⏳ Validando acceso...</p>

            <div class="form-footer">
                
                <a href="{% url 'registro' %}" class="register">Registrarse</a>
            </div>
        </form>

    </section>

</main>

<script>
const form = document.getElementById('login-form');
const btn = document.getElementById('submit-btn');
const msg = document.getElementById('wait-msg');

form.addEventListener('submit', function () {
    btn.disabled = true;
    msg.style.display = 'block';
});
</script>

</body>
</html>