{% extends "inverso_sa/dashboard.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'inverso_sa/css/misrecargas.css' %}">
{% endblock %}

{% block contenido %}

<div class="container-historial">

    <h2><i class="fa-solid fa-clock-rotate-left"></i> Historial de Depositos</h2>

    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>USDT</th>
                    <th>Estado</th>
                </tr>
            </thead>

            <tbody>
                {% for r in recargas %}
                <tr>
                    <td data-label="Fecha">{{ r.fecha }}</td>
                    <td data-label="USDT">{{ r.monto }}</td>
                    <td data-label="Estado">
                        <span class="estado {{ r.estado }}">
                            {{ r.get_estado_display }}
                        </span>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="empty">
                        <i class="fa-solid fa-folder-open"></i> No tienes recargas aún
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock %}