{% extends "inverso_sa/dashboard.html" %}
{% load static %}

{% block title %}Retirar coins{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'inverso_sa/css/retirar.css' %}">
{% endblock %}

{% block contenido %}

<div class="container-retiro">

    <h2>Solicitar retiro USDT</h2>

    <p class="saldo-disponible">
        <strong>USDT disponibles:</strong>
        {{ request.user.saldo }}
    </p>
    <form method="POST" class="retiro-form">
        {% csrf_token %}

        <label>Cantidad de USDT a retirar</label>
        <input 
            type="number"
            name="monto"
            step="1"
            min="1"
            max="{{ request.user.saldo }}"
            required
        >

        <label>DIRECCION WALLET</label>
        <select name="cuenta" required>
            {% for cuenta in cuentas %}
            <option value="{{ cuenta.id }}">
                {{ cuenta.banco }} - {{ cuenta.numero_cuenta }}
            </option>
            {% empty %}
            <option disabled>
                No tienes cuentas bancarias registradas
            </option>
            {% endfor %}
        </select>

        <button type="submit" class="btn-retirar">
            Solicitar retiro</button>
    </form>

    <a href="{% url 'historial_retiros' %}" class="btn-historial">
        📄 Historial de retiros 
    </a>

</div>

{% endblock %}